<%- include('header') %>
<<<<<<< HEAD
<div class='row m-2'>
<div class="list-group col-lg-8 mt-2"></div>
</div>
=======
  <div class='row m-2'>
    <div class="list-group col-lg-8 mt-2"></div>
  </div>
>>>>>>> Cart
  <%- include('footer') %>
    </body>
    <script src="jquery/dist/jquery.js"></script>
    <script>const cartItems = <%- JSON.stringify(cartItems) %></script>
    <script src='js/cart.js'></script>

    </html>
