<footer class="bg-dark align-bottom pt-4 mt-3 text-center">
  <i class="fa-brands footer-icon mt-3 mx-2 text-light fa-facebook fa-lg"></i>
  <i class="fa-brands footer-icon mt-3 mx-2 text-light fa-instagram fa-lg"></i>
  <i class="fa-brands footer-icon mt-3 mx-2 text-light fa-github fa-lg"></i>
  <p class="copyright p-3 mt-3 text-light mb-0">© Copyright PizzaShop</p>
</footer>
