<!DOCTYPE html>
<html lang="en">

<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Stylesheet -->
  <link rel="stylesheet" type="" href="bootstrap/dist/css/bootstrap.css">
  <link href="css/style.css" rel="stylesheet">
  <!-- FontAwesome -->
  <link href="@fortawesome/fontawesome-free/css/fontawesome.css" rel="stylesheet">
  <link href="@fortawesome/fontawesome-free/css/brands.css" rel="stylesheet">
  <link href="@fortawesome/fontawesome-free/css/solid.css" rel="stylesheet">
  <!-- Js -->
  <script src="bootstrap/dist/js/bootstrap.js"></script>
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid" style="color: white;">
      <a class="navbar-brand" href="/"><i class="fa-solid mx-5 fa-pizza-slice text-light fa-lg"></i></a>
      <div class="">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active text-light mx-5 d-inline" aria-current="page" href="/">Home</a>
            <a class="d-inline" href="/cart"><i class="fa-solid fa-cart-shopping mx-4 text-light fa-sm"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
