<div class="row preview row-cols-1 row-cols-md-4 mx-3 g-4">
</div>
<div class="btn-group justify-content-center pagination-btn pagination  w-25 mt-3 mx-auto" role="group"
  aria-label="Basic example">
  <button type="button" class="btn btn-prev btn-dark" disabled>Previous</button>
  <button type="button" class="btn btn-cur btn-dark" style="width:2rem;">
    1
  </button>
  <button type="button" class="btn btn-next btn-dark">Next</button>
</div>
